<launch>
<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 4.7 -1 3.14 camera_link camera_rotated 500" />
<node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0.9 0.1 -0.9 0 0 0 camera_rotated world 500" />

<remap from="/joint_states" to="/footstep/joint_states"/>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find coman_urdf)/urdf/coman_robot.urdf.xacro'" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" >
   <rosparam param="publish_frequency">10</rosparam>
 </node>

</launch>
