<launch>
	<arg name="filename" default="scene.pcd"/>
	<!-- fake a primesense point cloud from a pcd file for testing placed somewhere in the world -->	
	<remap from="cloud_pcd" to="/camera/depth_registered/points"/>
	<node pkg="pcl_ros" name="fake_primesense" type="pcd_to_pointcloud" respawn="true" output="screen" args="$(find footstep_planner)/resources/$(arg filename) 0.1 _frame_id:=/camera_link"/>
	<node pkg="tf" type="static_transform_publisher" name="kinect_base_link5" args="0 0 0 0 0 0 1  /camera_link /world 100"/>

	<!-- load a customized rviz -->
	<node name="$(anon rviz)" launch-prefix="" pkg="rviz" type="rviz" respawn="false" args="-d $(find footstep_planner)/launch/rviz.rviz" output="screen"/>

</launch>
