<launch>

	<!-- the plane detector -->
	<node pkg="footstep_planner" name="plane_detector" type="plane_segmentation_node" respawn="true" output="screen">
		<!--topic remapping-->
		<remap from="cloud_in" to="/camera/depth_registered/points" />
		<param name="inlier_threshold" value="500" />
		<param name="plane_detection_voxel_size" value="0.01" />
		<param name="min_cluster_size" value="30" />
		<param name="table_padding" value="0.02" />
		<!-- this value refer to the processing frame, typically the camera optical, for now, it is big enough to take the full point cloud -->
		<!-- param unless="$(arg tabletop_segmentation_convert_to_base_link)" name="up_direction" value="-1.0" /-->
		<param name="z_filter_min" value="-2.0" />
		<param name="z_filter_max" value="2.0" />
		<param name="y_filter_min" value="-2.0" />
		<param name="y_filter_max" value="2.0" />
		<param name="x_filter_min" value="-2.0" />
		<param name="x_filter_max" value="2.0" />

	</node>

</launch>